@using MLWeb.Models
@model HomeAViewModel

@{
    ViewBag.Title = "HomeAGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<h2>HomeAGetir</h2>
@using (Html.BeginForm("HomeAGuncelle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new
{
    @class = "form-control",
    @readonly = "readonly"

})
    <br />
    @Html.LabelFor(x => x.Lang)
    @Html.TextBoxFor(x => x.Lang, new
{
    @class = "form-control",
    @readonly = "readonly"
})
    <br />
    @Html.LabelFor(x => x.Caption)
    @Html.TextBoxFor(x => x.Caption, new
    {
     @class = "form-control"
    })
    <br />
    @Html.LabelFor(x => x.Text)
   
    
    
    
    @Html.TextAreaFor(x => x.Text, new
{
    @id = "editor1"
})
   

    <input type="file" name="img" />

    <input type="submit" value="Kaydet" />

}
<script type="text/javascript">
    var editor = CKEDITOR.instances['editor1'];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace('editor1', {
        enterMode: CKEDITOR.ENTER_BR,
    });
    CKFinder.setupCKEditor(null, '@Url.Content("~/ckeditor/ckfinder/")');
</script>
